body{
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    height: 100vh;
    display: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    background: #f1f5f9;
}

.card{
    border: none;
    border-radius: 10px;
    align-items: flex-end;
}

.navbar{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}