body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;   
    background-color: #d6e4ed;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}

.card {
    max-width: 380px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    background-color: #f6fafd;
}

.card h2 {
    color: #080808;
}

.btn-primary {
    background-color: #0067c0;
}